.card-header {
  width: 20rem;
  height: 10rem;
  margin: 5rem 0 4rem 0;
  text-align: center;
}

h1 {
  color: var(--very-dark-blue);
  font-weight: 200;
  font-size: 1.5rem;
}

h2 {
  color: var(--very-dark-blue);
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  color: var(--grayish-blue);
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 1rem;
}

.card-main {
  border-radius: .5rem;
  background: var(--white);
  width: 20rem;
  height: 14rem;
  margin: 2rem 0;
  box-shadow: 0 .5rem 1rem .1rem hsla(224, 54%, 79%, 0.79);
}

hr {
  border: none;
  height: .3rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

#cyan {
  background: var(--cyan);
}

#red {
  background: var(--red);
}

#orange {
  background: var(--orange);
}

#blue {
  background: var(--blue);
}

.fc-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.5rem;
}

h3 {
  color: var(--very-dark-blue);
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.fc-card>p {
  color: var(--very-dark-blue);
  font-weight: 300;
  font-size: .9rem;
  margin-top: .7rem;
}

.fc-card-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.fc-card-icon img {
  width: 3.3rem;
  margin-top: 1rem;
}

.container {
  margin-bottom: 5rem;
}

/* ! =====Responsive Style Start===== */
@media screen and (min-width: 62rem) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .8fr repeat(2, 1fr);
    grid-column-gap: 2rem;
    margin-bottom: 0;
  }

  .card-1 {
    grid-area: 1/1/2/4;
    margin: 0 auto;
  }

  .card-2 {
    grid-area: 2/1/3/2;
    margin: 8rem 0 auto 0;
  }

  .card-3 {
    grid-area: 2/2/3/3;
    margin-top: -1rem;
  }

  .card-4 {
    grid-area: 3/2/4/3;
    margin-top: -6.5rem;
  }

  .card-5 {
    grid-area: 2/3/3/4;
    margin: 8rem 0 auto 0;
  }

  .card-header {
    width: 33rem;
    height: 10rem;
    margin-top: 2.5rem;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    margin-top: -.5rem;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-top: .6rem;
  }

  .card-main {
    width: 22rem;
    height: 16rem;
  }

  hr {
    height: .3rem;
  }

  .fc-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1.8rem;
  }

  h3 {
    margin-top: 2rem;
  }

  .fc-card>p {
    margin-top: .75rem;
  }

  .fc-card-icon {
    margin-top: 1.6rem;
    display: flex;
    justify-content: flex-end;
  }
}



/* ! =====Responsive Style End===== */